DOMAIN=localhost
STACK_NAME=gdsi-gastos-grupales
PROJECT_NAME="Gastos Grupales"
ENVIRONMENT=local

FRONTEND_HOST=http://localhost:5173
BACKEND_CORS_ORIGINS=http://localhost:5173,http://localhost:3000
SECRET_KEY=local-development-secret-key-change-me

FIRST_SUPERUSER=admin@example.com
FIRST_SUPERUSER_PASSWORD=adminadmin
EMAIL_TEST_USER=test@example.com

POSTGRES_SERVER=localhost
POSTGRES_PORT=5433
POSTGRES_DB=app
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

DOCKER_IMAGE_BACKEND=gdsi-gastos-grupales-backend
DOCKER_IMAGE_FRONTEND=gdsi-gastos-grupales-frontend
TAG=latest

SMTP_HOST=
SMTP_USER=
SMTP_PASSWORD=
EMAILS_FROM_EMAIL=noreply@example.com
SENTRY_DSN=
